 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
} 

nav{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
img{
  max-width: 100%;
  vertical-align: middle;
}

nav .logo{
  padding: 0 15px;
  width: 125px;
  height: auto;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #d6bd60;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #fff;
  
}
nav .menu-btn i{
  color: #d6bd60;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: white;
  }
  .b-texth1{
    font-size:44px; 
  }
}

#banner{
  background: url(hiro2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.b-text{
  text-align: center;
  color: #fff;
  padding-top: 130px;
}

.b-text h1{
  font-size: 130px;

}
 

 .b-text p{
  font-size: 20px;
  font-style: italic;
}

.b-btn{
  margin: 30px auto 0;
}
.b-btn a{
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: .5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s; 
}

.b-btn a span{
  width: 1%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.b-btn a:hover span{
  width: 100%;
}
 .b-btn a:hover {
  color: black;
}

#section{
   width: 100%;
   background: #efefef;
}
.pricing-table{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: min(1600px, 100%);
  margin: auto;

  
}

.pricing-card{
  flex: 1;
  max-width: 360px;
  background-color: #fff;
  margin: 20px 10px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  color: #2d2d2d;
  transition: .3s linear;
  border-radius: 20px 20px 20px 20px;
  box-shadow:0 10px 20px 3px #d6bd60;
}

.pricing-card-header{
  background-color: #d6bd60;
  display: inline-block;
  color: #fff;
  padding: 12px 30px;
  border-radius: 0 0 20px 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  transition: .4s linear;
}

.pricing-card:hover .pricing-card-header{
  box-shadow: 0 0 0 26em #000;
}

.price{
  font-size: 60px;
  color: #d6bd60;
  margin: 18px 0;
  transition: .2s linear;
}

.price sup, .price span{
  font-size: 22px;
  font-weight: 700;
}

.pricing-card:hover ,.pricing-card:hover .price{
  color: #d6bd60;
}

.pricing-card li{
  font-size: 16px;
  padding: 9px 0;
  text-transform: uppercase;
}

.order-btn{
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 60px;
  border: 2px solid #d6bd60;
  color: #d6bd60;
  padding: 18px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  transition: .3s linear;
  text-decoration: none;
  list-style: none;
}

.order-btn:hover{
  background-color: #d6bd60;
  color: #fff;
}

@media screen and (max-width:1100px){
  .pricing-card{
    flex: 50%;
  }
}


.t-text{
  text-align: center;
  padding-bottom: 70px;
}

.t-text p{
  margin: auto;
  font-size: 20px;
  color: #d6bd60;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;

}

.t-text h1 {
  font-size: 50px;
}


#service{
  width: 100%;
  padding:70px 0;

}


.s-box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

}

.s-service{
  flex-basis: 19%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 10px;

}

.s-service img{
  width: 100%;
  height: 80%;
  border: 1px solid #000;
  border-radius: 7px;
}




#about{
  width: 100%;
  padding: 70px 0;
}

.f-box{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}


.features{
  flex-basis: 50%;
}

.f-img{
  flex-basis: 50%;
  margin: auto;
 }

.f-icon{
  
}
.f-img img{
  width: 70%;
  border-radius: 10px;
  
}



.features h1{
  text-align: left;
  font-size: 26px;
  margin-bottom:10px;
  font-weight: 100;
  color: #d6bd60; 
}

.f-desc{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.f-icon .fa{
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #d6bd60;
  border: 1px solid #d6bd60;
}
 .f-text p {
  padding: 0 20px;
  text-align: initial;
 }

#footer{
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
}

.f-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.f-left,.f-right{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
}

.f-right{
  text-align: right;
}

.f-row h1{
  margin: 10px 0;
}

.f-row p{
  line-height: 35px;
}

.f-left .fa, .f-right .fa{
  font-size: 20px;
  color: #d6bd60;
  margin: 7px;
}

.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px; 
  cursor: pointer;
  background: linear-gradient( rgba(0 ,0 ,0 , 0.5)#d6bd60);
  opacity: 0;
  transition; is ;
}

  .s-service:hover .overlay{
    opacity: 1;
  }


.foo-img{
 max-width:370px; 
 opacity: 0.1;
 position: absolute; 
 left: 50%;
 top: 35px;
 transform: translate(-50% ,-50%);
}


.social-links{
  text-align: center;
}

.social-links .fa{
  height: 40px;
  width: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #d6bd60;
  margin: 40px 5px 0;
  color: #d6bd60;
  cursor: pointer;
}


@media screen and (max-width:770px){
  .b-text h1{
  font-size: 44px;

}
.b-btn a{
  display: block;
  margin: 20px auto;
}

.s-service{
  flex-basis: 45%;
  margin-bottom: 30px;
}

.t-text h1{
   font-size: 35px; 
}

.features{
  flex-basis: 100%;
}

.f-img{
  flex-basis: 100%;
}

.f-img img{
  width: 100%;
}


}



